.header{
    grid-area: header;
    height: 10vh;
}
.jumbotron{
    grid-area: jumbotron;
    height: 45vh;
}
.banner{
    grid-area: banner;
    height: 20vh;
}
.fproducts{
    grid-area: fproducts;
    height: 30vh;
}
.footer{
    grid-area: footer;
    height: 20vh;
}

.item{
    background-color:  cadetblue;
    color: white;
    border-radius: 10px;
}

.container {
    display: grid;
    /*grid-template: filas / columnas */
    /*grid-template: 120px 1fr 120px / 400px 1fr;*/
    grid-template-areas: "header    header     header    header    header     header"
                        "jumbotron jumbotron jumbotron jumbotron  jumbotron jumbotron"
                        "banner      banner    banner    banner    banner     banner"
                        "fproducts  fproducts  fproducts  fproducts  fproducts  fproducts "
                        "footer      footer    footer     footer    footer    footer";
                        
    gap: 10px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #65ea33;
    height: 5vh;
  }
  
  li {
    align-self:center;
  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: hsl(103, 100%, 52%);
    border-radius: 10px;
  }