/* Agregue esto porque sino no se me centraba el texto del footer, si alguno sabe de otra forma, lo cambiamos. */
* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
/*ESTILOS PARA EL GRID GLOBAL */
.header {
    grid-area: header;
    height: 10vh;
}

.jumbotron {
    grid-area: jumbotron;
    height: 45vh;
}

.banner {
    grid-area: banner;
    height: 20vh;
}

.fproducts {
    grid-area: fproducts;
    height: 30vh;
}

.footer {
    grid-area: footer;
    /* height: 20vh; */
    margin: 0;
    padding: 0;
    width: 100vw;
}

.item {
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-template-areas: "header    header     header    header    header     header"
        "jumbotron jumbotron jumbotron jumbotron  jumbotron jumbotron"
        "banner      banner    banner    banner    banner     banner"
        "fproducts  fproducts  fproducts  fproducts  fproducts  fproducts "
        "footer      footer    footer     footer    footer    footer";

    gap: 10px;
}
  /*ESTILOS PARA EL HEADER */
 header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #65ea33;
    height: 5vh;
  }
  
  header li {
    align-self:center;
  }
  
  header li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header li a:hover {
    background-color: hsl(103, 100%, 52%);
    border-radius: 10px;
  }
  .header-logo{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  .item-flex{
    display: flex;
    flex-direction: row;
    padding: 14px 16px;
    text-align: center;
    align-items: center;
  }
.fa-computer{
    padding: 14px 16px;
    color: #65ea33;
}
.fa-magnifying-glass{
    padding: 14px 16px;
    color: #65ea33;
}
.fa-user{
    padding: 14px 16px;
    color: #65ea33;  
}
.fa-cart-shopping{
    padding: 14px 16px;
    color: #65ea33;  
}
header div a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
header div a:hover {
    opacity: 0.4;
    border-radius: 10px;
}
.button-search{
    border: none;
    border-radius: 10px;
    margin: 0.5vh;
}
.button-search:hover {
    opacity: 0.9;
}
.input-search{
    border: none;
    border-radius: 10px;
    height: 4vh;
    width:20vh;
}
/* CSS DE LA PARTE DEL FOOTER */
/* Lo voy a dejar comentado por ahora, tenemos que ver que no se superponga con los demas estilos */



.contenedor-footer {
    background-color: #1c1f1b;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    padding-left: 1%;
    margin: 0;
    justify-content: center;
    align-content: space-around;
    column-gap: 2rem;
    width: 99%;

}

.footer-link ul {
    list-style: none;

}

.footer-link li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-link ul li h4 {
    color: #65ea33;
    padding: 0.5rem 0;
    margin: 0.5rem 0;

}

.footer-link ul li {
    margin-bottom: .5rem;

}

.footer-link>ul li a{
    color: rgba(255, 255, 255, 0.7);
    transition: all .5s ease;

}
.footer-link > ul li a:hover {
    color: #ffffff;
    font-weight:500 ;
}

.iconos-redes a {
    color: #000000;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 10px 12px;
    margin: 5px;
    display:inline-block ;
    transition: all .5s ease;


}

.iconos-redes a:hover {
    background-color: #65ea33;
    color: rgb(255, 255, 255);
    

}

.iconos-redes span{
    display: inline-block;
}

@media all and (max-width:900px){
    .contactanos{display: none;}
    .horarios{display: none;}
    .iconos-redes span{
    display: block;
}
.iconos-redes a{
    display: inline-block;
}}
@media all and (max-width:600px){
    .contactanos{display: none;}
    .horarios{display: none;}
    .defconsumidor{display: none;}
    .iconos-redes span{
    display: inline-block;}
    .iconos-redes a{
    display: inline-block;
}
}
 
